.button--fishDetails {
    background-color: #0d264d;
    color: whitesmoke;
    padding: 10px;
}

.fish {
    padding: 2em;
    text-align: center;
}

.fish__image {
    height: 15em;
    width: auto;
}

.fishList {
    border: 2px solid gray;
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    flex-wrap: wrap;
}