@import 'locationList.css';
@import 'nav.css';
@import 'travelTips.css';

.bordered {
    border: 2px solid gray;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Montserrat', 'Verdana', 'Tahoma', sans-serif;
    justify-content: space-between;
    margin: 2rem;
}



h2 {
    text-align: center;
}