.button--locationDetails {
    background-color: #0d264d;
    color: whitesmoke;
    padding: 10px;
}

.location {
    margin-bottom: 25px;
}

.locationList {
    height: auto;
    margin: auto;
    width: 93%;
}

.location__image {
    height: auto;
    width: 100%;
}

.location__name {
    font-size: 36px;
}

.locations__h1 {
    color: #0d264d;
    font-family: 'Parisienne', 'Tangerine', 'Pinyon Script';
    font-size: 72px;
    text-align: center;
}

