@import 'nav.css';
@import 'fish.css';
@import 'tankCare.css';

.bordered {
    border: 2px solid gray;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Montserrat', 'Verdana', 'Tahoma', sans-serif;
    justify-content: space-between;
    margin: 2rem;
}


h1 {
    color: #0d264d;
    font-family: 'Parisienne', 'Tangerine', 'Pinyon Script';
    font-size: 72px;
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
}


