@import 'fish.css';
@import 'nav.css';

.bordered {
    border: 2px solid gray;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2rem;
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.tank {
    flex-basis: 30%;
    text-align: center;
}

aside {
    padding: 1em;
}
